<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9161a8">  <td>20/11/06 22:25:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.doLoginTest()[pri:3, instance:com.tests.LoginTest@57d7f8ca]">doLoginTest</td> 
  <td>TestNG-test=flipkart test chrome-1@1303850580</td>   <td></td> </tr>
<tr bgcolor="866d69">  <td>20/11/06 22:25:26</td>   <td>-32477</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpTest(java.lang.String)[pri:0, instance:com.tests.LoginTest@57d7f8ca]">&gt;&gt;setUpTest</td> 
<td>&nbsp;</td>  <td>TestNG-test=flipkart test chrome-1@1303850580</td>   <td></td> </tr>
<tr bgcolor="866d69">  <td>20/11/06 22:25:39</td>   <td>-19829</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpTest(java.lang.String)[pri:0, instance:com.tests.LoginTest@57d7f8ca]">&gt;&gt;setUpTest</td> 
<td>&nbsp;</td>  <td>TestNG-test=flipkart test chrome-1@1303850580</td>   <td></td> </tr>
<tr bgcolor="866d69">  <td>20/11/06 22:25:49</td>   <td>-9321</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpTest(java.lang.String)[pri:0, instance:com.tests.LoginTest@57d7f8ca]">&gt;&gt;setUpTest</td> 
<td>&nbsp;</td>  <td>TestNG-test=flipkart test chrome-1@1303850580</td>   <td></td> </tr>
<tr bgcolor="866d69">  <td>20/11/06 22:25:37</td>   <td>-20965</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.tests.LoginTest@57d7f8ca]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=flipkart test chrome-1@1303850580</td>   <td></td> </tr>
<tr bgcolor="866d69">  <td>20/11/06 22:25:48</td>   <td>-10463</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.tests.LoginTest@57d7f8ca]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=flipkart test chrome-1@1303850580</td>   <td></td> </tr>
<tr bgcolor="866d69">  <td>20/11/06 22:25:59</td>   <td>673</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.tests.LoginTest@57d7f8ca]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=flipkart test chrome-1@1303850580</td>   <td></td> </tr>
<tr bgcolor="9161a8">  <td>20/11/06 22:25:48</td>   <td>-10524</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verifyLoginPageHeaderTest()[pri:2, instance:com.tests.LoginTest@57d7f8ca]">verifyLoginPageHeaderTest</td> 
  <td>TestNG-test=flipkart test chrome-1@1303850580</td>   <td></td> </tr>
<tr bgcolor="9161a8">  <td>20/11/06 22:25:37</td>   <td>-20989</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verifyLoginPageTitleTest()[pri:1, instance:com.tests.LoginTest@57d7f8ca]">verifyLoginPageTitleTest</td> 
  <td>TestNG-test=flipkart test chrome-1@1303850580</td>   <td></td> </tr>
</table>
